@media print {
    @page {
        size: auto;
        margin: 0;
    }
    body {
        width: 80mm;
        margin: 0;
    }
}
@page {
    /* dimensions for the whole page */
    size: auto;
    margin: 0;
}

body {
    width: 80mm;
}

#print_area {
    width: 80mm;
    padding: 7mm 0mm 0mm 7mm;
}

.sunmi-table{
    width: 100%;
}

.sunmi-table td, .sunmi-table th {
    padding: 0.5rem 0 0.5em 0;
}

.border-dashed td, .border-dashed th{
    border-top: 1px dashed #999; !important;
    border-bottom: 1px dashed #999; !important;
}